{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Compute Management Client.",
        "title": "ComputeManagementClient",
        "version": "2017-09-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2017-09-01/skus.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "compute-skus",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus": {
            "get": {
                "description": "Gets the list of Microsoft.Compute SKUs available for your Subscription.",
                "operationId": "ResourceSkus_List",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The Compute List Skus operation response.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The uri to fetch the next page of Compute Skus. Call ListNext() with this to fetch the next page of VMSS Skus.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of skus available for the subscription.",
                                            "items": {
                                                "description": "Describes an available Compute SKU.",
                                                "properties": {
                                                    "apiVersions": {
                                                        "description": "The api versions that support this SKU.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "capabilities": {
                                                        "description": "A name value pair to describe the capability.",
                                                        "items": {
                                                            "description": "Describes The SKU capabilities object.",
                                                            "properties": {
                                                                "name": {
                                                                    "description": "An invariant to describe the feature.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "An invariant if the feature is measured by quantity.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "capacity": {
                                                        "description": "Specifies the number of virtual machines in the scale set.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "default": {
                                                                "description": "The default capacity.",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "maximum": {
                                                                "description": "The maximum capacity that can be set.",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "minimum": {
                                                                "description": "The minimum capacity.",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "scaleType": {
                                                                "description": "The scale type applicable to the sku.",
                                                                "enum": [
                                                                    "Automatic",
                                                                    "Manual",
                                                                    "None"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "ResourceSkuCapacityScaleType"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "costs": {
                                                        "description": "Metadata for retrieving price info.",
                                                        "items": {
                                                            "description": "Describes metadata for retrieving price info.",
                                                            "properties": {
                                                                "extendedUnit": {
                                                                    "description": "An invariant to show the extended unit.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "meterID": {
                                                                    "description": "Used for querying price from commerce.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "quantity": {
                                                                    "description": "The multiplier is needed to extend the base metered cost.",
                                                                    "format": "int64",
                                                                    "readOnly": true,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "family": {
                                                        "description": "The Family of this particular SKU.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "description": "The Kind of resources that are supported in this SKU.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "locationInfo": {
                                                        "description": "A list of locations and availability zones in those locations where the SKU is available.",
                                                        "items": {
                                                            "properties": {
                                                                "location": {
                                                                    "description": "Location of the SKU",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "zones": {
                                                                    "description": "List of availability zones where the SKU is supported.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "readOnly": true,
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "locations": {
                                                        "description": "The set of locations that the SKU is available.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "The name of SKU.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The type of resource the SKU applies to.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "restrictions": {
                                                        "description": "The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.",
                                                        "items": {
                                                            "description": "Describes scaling information of a SKU.",
                                                            "properties": {
                                                                "reasonCode": {
                                                                    "description": "The reason for restriction.",
                                                                    "enum": [
                                                                        "QuotaId",
                                                                        "NotAvailableForSubscription"
                                                                    ],
                                                                    "readOnly": true,
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": false,
                                                                        "name": "ResourceSkuRestrictionsReasonCode"
                                                                    }
                                                                },
                                                                "restrictionInfo": {
                                                                    "description": "The information about the restriction where the SKU cannot be used.",
                                                                    "readOnly": true,
                                                                    "properties": {
                                                                        "locations": {
                                                                            "description": "Locations where the SKU is restricted",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "readOnly": true,
                                                                            "type": "array"
                                                                        },
                                                                        "zones": {
                                                                            "description": "List of availability zones where the SKU is restricted.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "readOnly": true,
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "description": "The type of restrictions.",
                                                                    "enum": [
                                                                        "Location",
                                                                        "Zone"
                                                                    ],
                                                                    "readOnly": true,
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": false,
                                                                        "name": "ResourceSkuRestrictionsType"
                                                                    }
                                                                },
                                                                "values": {
                                                                    "description": "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "readOnly": true,
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "size": {
                                                        "description": "The Size of the SKU.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "tier": {
                                                        "description": "Specifies the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "value"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Skus",
                    "AvailabilitySets"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ResourceSku": {
                "description": "Describes an available Compute SKU.",
                "properties": {
                    "apiVersions": {
                        "description": "The api versions that support this SKU.",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "capabilities": {
                        "description": "A name value pair to describe the capability.",
                        "items": {
                            "description": "Describes The SKU capabilities object.",
                            "properties": {
                                "name": {
                                    "description": "An invariant to describe the feature.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "value": {
                                    "description": "An invariant if the feature is measured by quantity.",
                                    "readOnly": true,
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "capacity": {
                        "description": "Specifies the number of virtual machines in the scale set.",
                        "readOnly": true,
                        "properties": {
                            "default": {
                                "description": "The default capacity.",
                                "format": "int64",
                                "readOnly": true,
                                "type": "integer"
                            },
                            "maximum": {
                                "description": "The maximum capacity that can be set.",
                                "format": "int64",
                                "readOnly": true,
                                "type": "integer"
                            },
                            "minimum": {
                                "description": "The minimum capacity.",
                                "format": "int64",
                                "readOnly": true,
                                "type": "integer"
                            },
                            "scaleType": {
                                "description": "The scale type applicable to the sku.",
                                "enum": [
                                    "Automatic",
                                    "Manual",
                                    "None"
                                ],
                                "readOnly": true,
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": false,
                                    "name": "ResourceSkuCapacityScaleType"
                                }
                            }
                        },
                        "type": "object"
                    },
                    "costs": {
                        "description": "Metadata for retrieving price info.",
                        "items": {
                            "description": "Describes metadata for retrieving price info.",
                            "properties": {
                                "extendedUnit": {
                                    "description": "An invariant to show the extended unit.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "meterID": {
                                    "description": "Used for querying price from commerce.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "quantity": {
                                    "description": "The multiplier is needed to extend the base metered cost.",
                                    "format": "int64",
                                    "readOnly": true,
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "family": {
                        "description": "The Family of this particular SKU.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "kind": {
                        "description": "The Kind of resources that are supported in this SKU.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "locationInfo": {
                        "description": "A list of locations and availability zones in those locations where the SKU is available.",
                        "items": {
                            "properties": {
                                "location": {
                                    "description": "Location of the SKU",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "zones": {
                                    "description": "List of availability zones where the SKU is supported.",
                                    "items": {
                                        "type": "string"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "locations": {
                        "description": "The set of locations that the SKU is available.",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "name": {
                        "description": "The name of SKU.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "resourceType": {
                        "description": "The type of resource the SKU applies to.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "restrictions": {
                        "description": "The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.",
                        "items": {
                            "description": "Describes scaling information of a SKU.",
                            "properties": {
                                "reasonCode": {
                                    "description": "The reason for restriction.",
                                    "enum": [
                                        "QuotaId",
                                        "NotAvailableForSubscription"
                                    ],
                                    "readOnly": true,
                                    "type": "string",
                                    "x-ms-enum": {
                                        "modelAsString": false,
                                        "name": "ResourceSkuRestrictionsReasonCode"
                                    }
                                },
                                "restrictionInfo": {
                                    "description": "The information about the restriction where the SKU cannot be used.",
                                    "readOnly": true,
                                    "properties": {
                                        "locations": {
                                            "description": "Locations where the SKU is restricted",
                                            "items": {
                                                "type": "string"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        },
                                        "zones": {
                                            "description": "List of availability zones where the SKU is restricted.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": {
                                    "description": "The type of restrictions.",
                                    "enum": [
                                        "Location",
                                        "Zone"
                                    ],
                                    "readOnly": true,
                                    "type": "string",
                                    "x-ms-enum": {
                                        "modelAsString": false,
                                        "name": "ResourceSkuRestrictionsType"
                                    }
                                },
                                "values": {
                                    "description": "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
                                    "items": {
                                        "type": "string"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "size": {
                        "description": "The Size of the SKU.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "tier": {
                        "description": "Specifies the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResourceSkuCapabilities": {
                "description": "Describes The SKU capabilities object.",
                "properties": {
                    "name": {
                        "description": "An invariant to describe the feature.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "value": {
                        "description": "An invariant if the feature is measured by quantity.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResourceSkuCapacity": {
                "description": "Describes scaling information of a SKU.",
                "properties": {
                    "default": {
                        "description": "The default capacity.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                    },
                    "maximum": {
                        "description": "The maximum capacity that can be set.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                    },
                    "minimum": {
                        "description": "The minimum capacity.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                    },
                    "scaleType": {
                        "description": "The scale type applicable to the sku.",
                        "enum": [
                            "Automatic",
                            "Manual",
                            "None"
                        ],
                        "readOnly": true,
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ResourceSkuCapacityScaleType"
                        }
                    }
                },
                "type": "object"
            },
            "ResourceSkuCosts": {
                "description": "Describes metadata for retrieving price info.",
                "properties": {
                    "extendedUnit": {
                        "description": "An invariant to show the extended unit.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "meterID": {
                        "description": "Used for querying price from commerce.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "quantity": {
                        "description": "The multiplier is needed to extend the base metered cost.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ResourceSkuLocationInfo": {
                "properties": {
                    "location": {
                        "description": "Location of the SKU",
                        "readOnly": true,
                        "type": "string"
                    },
                    "zones": {
                        "description": "List of availability zones where the SKU is supported.",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": true,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ResourceSkuRestrictionInfo": {
                "properties": {
                    "locations": {
                        "description": "Locations where the SKU is restricted",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": true,
                        "type": "array"
                    },
                    "zones": {
                        "description": "List of availability zones where the SKU is restricted.",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": true,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ResourceSkuRestrictions": {
                "description": "Describes scaling information of a SKU.",
                "properties": {
                    "reasonCode": {
                        "description": "The reason for restriction.",
                        "enum": [
                            "QuotaId",
                            "NotAvailableForSubscription"
                        ],
                        "readOnly": true,
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ResourceSkuRestrictionsReasonCode"
                        }
                    },
                    "restrictionInfo": {
                        "description": "The information about the restriction where the SKU cannot be used.",
                        "readOnly": true,
                        "properties": {
                            "locations": {
                                "description": "Locations where the SKU is restricted",
                                "items": {
                                    "type": "string"
                                },
                                "readOnly": true,
                                "type": "array"
                            },
                            "zones": {
                                "description": "List of availability zones where the SKU is restricted.",
                                "items": {
                                    "type": "string"
                                },
                                "readOnly": true,
                                "type": "array"
                            }
                        },
                        "type": "object"
                    },
                    "type": {
                        "description": "The type of restrictions.",
                        "enum": [
                            "Location",
                            "Zone"
                        ],
                        "readOnly": true,
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ResourceSkuRestrictionsType"
                        }
                    },
                    "values": {
                        "description": "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
                        "items": {
                            "type": "string"
                        },
                        "readOnly": true,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ResourceSkusResult": {
                "description": "The Compute List Skus operation response.",
                "properties": {
                    "nextLink": {
                        "description": "The uri to fetch the next page of Compute Skus. Call ListNext() with this to fetch the next page of VMSS Skus.",
                        "type": "string"
                    },
                    "value": {
                        "description": "The list of skus available for the subscription.",
                        "items": {
                            "description": "Describes an available Compute SKU.",
                            "properties": {
                                "apiVersions": {
                                    "description": "The api versions that support this SKU.",
                                    "items": {
                                        "type": "string"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                },
                                "capabilities": {
                                    "description": "A name value pair to describe the capability.",
                                    "items": {
                                        "description": "Describes The SKU capabilities object.",
                                        "properties": {
                                            "name": {
                                                "description": "An invariant to describe the feature.",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "value": {
                                                "description": "An invariant if the feature is measured by quantity.",
                                                "readOnly": true,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                },
                                "capacity": {
                                    "description": "Specifies the number of virtual machines in the scale set.",
                                    "readOnly": true,
                                    "properties": {
                                        "default": {
                                            "description": "The default capacity.",
                                            "format": "int64",
                                            "readOnly": true,
                                            "type": "integer"
                                        },
                                        "maximum": {
                                            "description": "The maximum capacity that can be set.",
                                            "format": "int64",
                                            "readOnly": true,
                                            "type": "integer"
                                        },
                                        "minimum": {
                                            "description": "The minimum capacity.",
                                            "format": "int64",
                                            "readOnly": true,
                                            "type": "integer"
                                        },
                                        "scaleType": {
                                            "description": "The scale type applicable to the sku.",
                                            "enum": [
                                                "Automatic",
                                                "Manual",
                                                "None"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": false,
                                                "name": "ResourceSkuCapacityScaleType"
                                            }
                                        }
                                    },
                                    "type": "object"
                                },
                                "costs": {
                                    "description": "Metadata for retrieving price info.",
                                    "items": {
                                        "description": "Describes metadata for retrieving price info.",
                                        "properties": {
                                            "extendedUnit": {
                                                "description": "An invariant to show the extended unit.",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "meterID": {
                                                "description": "Used for querying price from commerce.",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "quantity": {
                                                "description": "The multiplier is needed to extend the base metered cost.",
                                                "format": "int64",
                                                "readOnly": true,
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                },
                                "family": {
                                    "description": "The Family of this particular SKU.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "kind": {
                                    "description": "The Kind of resources that are supported in this SKU.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "locationInfo": {
                                    "description": "A list of locations and availability zones in those locations where the SKU is available.",
                                    "items": {
                                        "properties": {
                                            "location": {
                                                "description": "Location of the SKU",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "zones": {
                                                "description": "List of availability zones where the SKU is supported.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "readOnly": true,
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                },
                                "locations": {
                                    "description": "The set of locations that the SKU is available.",
                                    "items": {
                                        "type": "string"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                },
                                "name": {
                                    "description": "The name of SKU.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "resourceType": {
                                    "description": "The type of resource the SKU applies to.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "restrictions": {
                                    "description": "The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.",
                                    "items": {
                                        "description": "Describes scaling information of a SKU.",
                                        "properties": {
                                            "reasonCode": {
                                                "description": "The reason for restriction.",
                                                "enum": [
                                                    "QuotaId",
                                                    "NotAvailableForSubscription"
                                                ],
                                                "readOnly": true,
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": false,
                                                    "name": "ResourceSkuRestrictionsReasonCode"
                                                }
                                            },
                                            "restrictionInfo": {
                                                "description": "The information about the restriction where the SKU cannot be used.",
                                                "readOnly": true,
                                                "properties": {
                                                    "locations": {
                                                        "description": "Locations where the SKU is restricted",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "zones": {
                                                        "description": "List of availability zones where the SKU is restricted.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "description": "The type of restrictions.",
                                                "enum": [
                                                    "Location",
                                                    "Zone"
                                                ],
                                                "readOnly": true,
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": false,
                                                    "name": "ResourceSkuRestrictionsType"
                                                }
                                            },
                                            "values": {
                                                "description": "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "readOnly": true,
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                },
                                "size": {
                                    "description": "The Size of the SKU.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "tier": {
                                    "description": "Specifies the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**",
                                    "readOnly": true,
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "value"
                ],
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}